<body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
            
            
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">

                  <li class="nav-item">
                    <a class="nav-link" href="about.html">Secrétaires en service </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="do.html"> Historique des patients </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="portfolio.html">  consultation en Urgence </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Rendez-vous d'aujourd'hui</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/acc">deconnexion </a>
                  </li>
                  
                </ul>
                <div class="user_option">
                  <a href="">
                    <img src="images/user.png" alt="">
                  </a>
                  <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class=" slider_section position-relative">
        <div class="container">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col">
                    <div class="detail-box">
                      <div>
                        <h2>
                          welcome 
  
                        </h2>
                        <h1>
                         glad to have you back                        </h1>
                        
                        <div class="">
                          <a href="">
                            Voir les Rendez-vous pour Aujourdhui                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col">
                    <div class="detail-box">
                      <div>
                        <h2>
                            Hello Doctor
                        </h2>
                        <h1>
                            ready to care for your patients today?  
                        </h1>
                       
                        <div class="">
                          <a href="">
                            Voir les Rendez-vous pour Aujourdhui                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col">
                    <div class="detail-box">
                      <div>
                        <h2>
                            "Great to see you, Doctor!  
                        </h2>
                        <h1>
                            Let's make a difference today                        </h1>
                       
                        <div class="">
                          <a href="">
Voir les Rendez-vous pour Aujourdhui                           </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section>
      <!-- end slider section -->
    </div>
  
   